<html>
<head>
    <!--<script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>-->
    
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body style="background-color:#169B83">
    
    <div class="row" style="position: relative;top: 50%;transform: translateY(-50%);">
        <div class="col s12 m8 offset-m2">
            <div class="card">
            <div class="card-image">
              <img src="https://ccrma.stanford.edu/~mattah/PodRecCover.png">
              <!--<span class="card-title">PodRec</span>-->
            </div>
            <div class="card-content">
                <span class="card-title">PodRec</span>
                <p>PodRec is a bot that gives you recommendations on great podcasts based on the taste of its creator, <a href="http://mattahorton.com">Matt Horton</a>.</p>
            </div>
            <div class="card-action">
                    <div id="widget" style="display: inline-block; overflow: hidden; text-align: left; white-space: nowrap;"><a target="_blank" href="http://m.me/podrec" style="min-width: 90px;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border: 1px solid #d5d5d5;padding: 6px 6px 6px 0;text-decoration: none; text-shadow: none;margin: 0;display: block;color: #575757;line-height: 24px;font-size: 14px;font-weight: normal;padding-left: 36px; background: url('https://assets.modernapp.co/assets/images/facebook-message-button-icon2x.png') no-repeat 5px 6px;background-color: #fff !important; background-size: 23px 23px;">Message us</a></div><script async defer src="https://assets.modernapp.co/assets/js/embed.js"></script>
            </div>
            </div>
        </div>
    </div>
      
</body>
</html>